* {
  margin: 0;
  padding: 0;
}
.App {
  display: grid;
  grid-template-rows: 1fr 6fr;
  justify-content: center;
  align-items: start;
  height: 100vh;
  width: 100%;
}
.TodoInput {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 600px;
}
.TodoInput h1 {
  display: grid;
  justify-content: center;
}
.TodoInput input {
  border: none;
  border-bottom: 2px solid black;
  box-sizing: border-box;
  margin-top: 20px;
  color: black;
  font-size: 24px;
  width: 500px;
  height: 40px;
}
.TodoInput input:focus {
  border: none;
  outline: none;
  border-bottom: 2px solid black;
}
.TodoList {
  display: grid;
  grid-row-gap: 20px;
  justify-content: center;
}
.TodoItem {
  display: grid;
  font-size: 20px;
  grid-template-columns: 1fr 8fr 2fr;
  align-items: center;
  width: 600px;
  height: 50px;
  border: 1px solid black;
  cursor: pointer;
}
.TodoItem-checked {
  display: grid;
  font-size: 20px;
  grid-template-columns: 1fr 8fr 2fr;
  align-items: center;
  width: 600px;
  height: 50px;
  border: 1px solid black;
  cursor: pointer;
  background-color: #dadada;
  text-decoration: line-through;
}
.TodoItem-checkbox {
  display: grid;
  justify-content: center;
}
.TodoItem-checkbox input {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.TodoItem-buttons {
  display: grid;
  justify-content: right;
}
.TodoItem-delete {
  display: grid;
  width: 32px;
  height: 32px;
  border-radius: 5px;
  padding-right: 7px;
}
.TodoItem-delete:hover {
  background-color: #dd8e8e;
}
