.TodoComponent {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  text-transform: uppercase;
}
.TodoComponent-Name {
  margin-right: 10px;
}
.TodoComponent a {
  text-decoration: none;
  color: white;
}
.TodoComponent a:hover {
  text-decoration: none;
  color: white;
}
.TodoComponent a:active {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.TaskList {
  display: grid;
  justify-content: center;
  height: 100%;
  grid-area: sidebar;
  border: 2px solid white;
  backdrop-filter: blur(3px);
  background-color: rgba(0, 0, 0, 0.4);
}
.TaskList-Container {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  justify-items: center;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  text-align: right;
}
.TaskList-Container ul {
  list-style: none;
  font-size: 20px;
  cursor: pointer;
}
.TaskList-Input input[type="text"] {
  width: 100%;
  border: none;
  border-bottom: 1px solid white;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  font-size: 20px;
  text-transform: uppercase;
}
.TaskList-Input input[type="text"]:focus {
  outline: none;
}
.TaskList-Input input[type="text"]::placeholder {
  color: rgba(255, 255, 255, 0.247);
  font-style: italic;
  font-size: 18px;
}
.TaskList-Input input[type="text"]:focus::placeholder {
  color: transparent;
}
.TodoHeader {
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(2px);
}
.TodoHeader-Head {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
  text-transform: uppercase;
  height: 30%;
}
.TodoHeader-Img {
  height: 100%;
}
.TodoHeader-Img img {
  max-width: 100%;
  max-height: 100%;
}
.TodoHeader-Name {
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  outline: none;
  resize: none;
  border: none;
  font-size: 26px;
  width: 200px;
  text-align: center;
}
.TodoHeader-Text {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  outline: none;
  resize: none;
  border: none;
  font-size: 20px;
  line-height: 1.4;
  text-align: justify;
  overflow: auto;
  padding: 5px;
}
.TodoHeader-Text::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(0, 0, 0, 0.1);
}
.TodoHeader-Text::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.618);
  border-radius: 9em;
  box-shadow: inset 1px 1px 10px #f3faf7;
}
.TodoHeader-Text::-webkit-scrollbar-button:vertical:start:decrement {
  background: linear-gradient(120deg, #02141a 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(240deg, #02141a 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(0deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
  background-color: #f6f8f4;
}
.TodoHeader-Text::-webkit-scrollbar-button:vertical:end:increment {
  background: linear-gradient(300deg, #02141a 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(60deg, #02141a 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(180deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
  background-color: #f6f8f4;
}
.TodoHeader-Text::-webkit-scrollbar-button:horizontal:start:decrement {
  background: linear-gradient(30deg, #02141a 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(150deg, #02141a 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(270deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
  background-color: #f6f8f4;
}
.TodoHeader-Text::-webkit-scrollbar-button:horizontal:end:increment {
  background: linear-gradient(210deg, #02141a 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(330deg, #02141a 40%, rgba(0, 0, 0, 0) 41%), linear-gradient(90deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
  background-color: #f6f8f4;
}
.TodoHeader-Description {
  display: flex;
  align-items: center;
  height: 70%;
  font-size: 20px;
  line-height: 1.5;
  padding: 10px;
}
.TodoItem {
  display: grid;
  font-size: 20px;
  grid-template-columns: 1fr 8fr 2fr;
  align-items: center;
  width: 600px;
  height: 50px;
  cursor: pointer;
}
.TodoItem:hover {
  background-color: rgba(255, 255, 255, 0.06);
}
.TodoItem-checked {
  display: grid;
  font-size: 20px;
  grid-template-columns: 1fr 8fr 2fr;
  align-items: center;
  width: 600px;
  height: 50px;
  cursor: pointer;
  background-color: #252525;
  text-decoration: line-through;
}
.TodoItem-checkbox {
  display: grid;
  justify-content: center;
}
.TodoItem-checkbox input {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.TodoItem-buttons {
  display: grid;
  justify-content: right;
}
.TodoItem-delete {
  display: flex;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 5px;
}
.TodoItem-delete:hover {
  background-color: #dea6a6;
}
.TodoItem-delete img {
  max-width: 90%;
  max-height: 90%;
}
.diamond {
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-bottom: 30px solid #ffffff;
  position: relative;
  top: -20px;
}
.diamond:after {
  content: "";
  position: absolute;
  left: -20px;
  top: 30px;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-top: 30px solid #ffffff;
}
.TodoList {
  display: grid;
  grid-area: main;
  grid-template-rows: 2fr 6fr;
  border: 2px solid white;
  backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.4);
}
.TodoBody {
  display: grid;
  grid-row-gap: 20px;
  grid-auto-rows: min-content;
  align-items: start;
  justify-content: center;
}
.TodoInput input[type="text"] {
  width: 100%;
  border: none;
  border-bottom: 1px solid white;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  font-size: 20px;
  text-transform: uppercase;
}
.TodoInput input[type="text"]:focus {
  outline: none;
}
.TodoInput input[type="text"]::placeholder {
  color: rgba(255, 255, 255, 0.247);
  font-style: italic;
  font-size: 18px;
}
.TodoInput input[type="text"]:focus::placeholder {
  color: transparent;
}
.todoinfo {
  display: grid;
  grid-area: head;
  grid-template-columns: 1fr 10fr;
  align-items: center;
  width: 100%;
  border: 2px solid white;
  backdrop-filter: blur(3px);
  background-color: rgba(0, 0, 0, 0.4);
  height: 100px;
  font-size: 22px;
}
.todoinfo-img {
  display: flex;
  justify-content: right;
  width: 90px;
  max-height: 100%;
  height: 100px;
}
.todoinfo-img img {
  max-width: 100%;
  max-height: 100%;
  height: 100%;
}
.todoinfo h1 {
  display: grid;
  text-align: left;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto Condensed", sans-serif;
}
#root {
  display: grid;
  font-size: 34px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("images/forest.jpg");
  background-size: cover;
  justify-items: center;
  align-items: center;
  height: 100vh;
}
.App {
  display: grid;
  grid-template-areas: "head head" "sidebar main";
  grid-template-columns: 2fr 6fr;
  grid-template-rows: 100px 7fr;
  grid-gap: 5px;
  grid-row-gap: 30px;
  width: 90%;
  max-width: 1600px;
  height: 90vh;
  color: white;
}
